@import url('fonts.css');
@import url('header.css');
@import url('product.css');
@import url('cart.css');
*{
     margin: 0; padding: 0;
     box-sizing: border-box;
     font-family: 'Comfortaa';
     outline: none; border: none;
}
ul li {list-style: none;}
img{
     max-width: 100%;
     border-radius: .5em;
     -webkit-user-drag: none;
     user-select: none;
     -moz-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
}
/* Colors */
:root{
     --pColor : #aaaac7;
     --gColor : #e6e6e6;
     --gColor2 : #bebebe;
     --bColor : #131313;
}


main{
     display: grid;
     justify-content: center;
     grid-template-columns: repeat(2,1fr);
     gap: 2em;
     padding: 1em;
     background-color: var(--gColor2);
     transition: .5s;
     font-size: .9rem;
}
.aside-container{
     position: absolute;
     top: 77.78px; right: 0;
     display: flex;
     width: 450px;
     padding: 1em;
     flex-direction: column;
     gap: 1em;
     color: #131313;
     background-color: #e6e6e6;
     transition:ease-in-out .5s;
     border-radius: 0 0 0 .5em;

}
.aside-container.show{
     top: 77.78px;
}